#logo {
    display: block;
    height: 100%;
    margin: auto;
    /* padding: 10% 0 0; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.center {
    display: block;
    margin: auto;
    height: 90%;
}