#app {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
    scroll-behavior: unset;
}

#photo-name {
    position: fixed;
    width: 90%;
}